<!DOCTYPE html >
<html>
 <head>
   <title> Project Phase 3 </title>
 </head>

 <body>
<h1> Project Phase 3</h1>

<p> Load Employee table</p>

<div>
    <button id='btn1'>Click me!</button>
</div>
<div id="table">
    <br/>
</div>
</body>
</html>