table
{ 
    border-collapse: collapse ; table-layout:fixed;
    
}

td,th 
{
     border: 2px solid #DC143C  ;
     background-color:#FFE4C4;
     font-style:italic;
     padding: 5px;
     width: 100px;
     overflow:hidden;
}
th 
{
    background-color: #FF6347;
    width: 100px;
    
}

h1
{
    color:#CC0066;
}

p
{
    color:magenta;   
    
}