table,td,th
{ 
    border-collapse: collapse ;padding: 5px; font-style:italic;
    
}

td,th 
{
     border: 2px solid #DC143C  ;
     background-color:#FFE4C4;
}
th 
{
    background-color: #FF6347;
    
}

h1
{
    color:#CC0066;
}

p
{
    color:magenta;   
    
}